{% for comment in comments %}
<div class="comments__article article-text">
  <p class="comments__article-title text">
    <span class="text-bold">{{ comment.author.username }}</span>,
    {% load tz %}
    {% localtime on %}
      {{ comment.created }}
    {% endlocaltime %}
  </p>
  <p class="text">{{ comment.text }}</p>
  <p class="text">
    <span class="text-bold">
      Оценка:
    </span>{% if comment.ranking %}{{ comment.ranking }} из 5{% else %}---{% endif %}
  </p>
</div>
{% empty %}
  <p class="text center-text">Комментариев пока нет.</p>
{% endfor %}
