<section class="trails center">
  <h2 class="top-trails__title title">
    Самые популярные маршруты{% if region %} региона&nbsp;{{ region.name }}{% endif %}
  </h2>

  <div class="trails__cards">
    {% for trail in top_trails %}
      {% include "trails/includes/trail_card.html" %}
    {% empty %}
      <p class="text center-text">В&nbsp;этом регионе пока не&nbsp;описан ни&nbsp;один маршрут.<p>
    {% endfor %}
  </div>
  {% if region and top_trails %}
    <a href="{% url "trails:region_trails_list" region.slug %}" class="top-trails__button body-button body-button-text">
      Все маршруты
    </a>
  {% else %}
    <a href="{% url "trails:trails_list" %}" class="top-trails__button body-button body-button-text">
      Все маршруты
    </a>
  {% endif %}
</section>
