<a href="{{ trail.get_absolute_url }}" class="trails__card-item">
  <img src="{{ trail.main_image.url }}" alt="{{ trail.name }}" class="trails__img">
  <div class="trails__content">
    <p class="trails__card-title">{{ trail.name }}</p>
    <div class="trails__card-details">
      <div class="trails__detail-name">
        <p class="trails__detail-name-item">Регион:</p>
        <p class="trails__detail-name-item">Расстояние:</p>
        <p class="trails__detail-name-item">Набор высоты:</p>
        <p class="trails__detail-name-item">Время:</p>
        <p class="trails__detail-name-item">Сложность:</p>
        <p class="trails__detail-name-item">Рейтинг:</p>
      </div>
      <div class="trails__detail-value">
        <p class="trails__detail-val-item">{{ trail.region.name }}</p>
        <p class="trails__detail-val-item">{{ trail.distance }} км</p>
        <p class="trails__detail-val-item">{{ trail.elevation_gain }} м</p>
        <p class="trails__detail-val-item">{{ trail.time }}</p>
        <p class="trails__detail-val-item">{{ trail.get_level_display }}</p>
        {% if trail.avg_rank %}
          <p class="trails__detail-val-item">{{ trail.avg_rank|floatformat:1 }} из 5</p>
        {% else %}
          <p class="trails__detail-val-item">---</p>
        {% endif %}
      </div>
    </div>
  </div>
</a>