<a href="{{ trail.get_absolute_url }}" class="trail-card">
  <img src="{{ trail.card_image.url }}" alt="{{ trail.name }}" class="trail-card__img">
  <div class="trail-card__content">
    <p class="trail-card__title card-title">{{ trail.name }}</p>
    <div class="trail-card__details card-text">
      <div class="trail-card__detail-name">
        <p>Регион:</p>
        <p>Расстояние:</p>
        <p>Набор высоты:</p>
        <p>Время:</p>
        <p>Сложность:</p>
        <p>Рейтинг:</p>
      </div>
      <div class="trail-card__detail-value">
        <p>{{ trail.region.name }}</p>
        <p>{{ trail.distance }} км</p>
        <p>{{ trail.elevation_gain }} м</p>
        <p>{{ trail.time }}</p>
        <p>{{ trail.get_level_display }}</p>
        {% if trail.avg_rank %}
          <p>{{ trail.avg_rank|floatformat:1 }} из 5</p>
        {% else %}
          <p>---</p>
        {% endif %}
      </div>
    </div>
  </div>
</a>