{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
  Когда сердце в горах
{% endblock title %}


{% block article_title %}
  <h1 class="top__title main-title">Когда сердце в&nbsp;горах</h1>
{% endblock article_title %}

{% block content %}
  <section class="intro">
    <p class="text article-text center">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Possimus tempore quibusdam voluptatibus corrupti a illo, hic odio enim, totam perspiciatis et dolorem praesentium, cumque eligendi veritatis. Non voluptas nesciunt, sunt odio et ipsum numquam labore fugit modi eveniet, quae assumenda. Fugit commodi, asperiores temporibus ratione at ullam ducimus esse, nam rem molestias debitis, ipsam veniam ipsum veritatis et sequi pariatur deserunt iure adipisci autem vero sint exercitationem. Sapiente iste soluta quod beatae aliquam atque vel nisi iusto. Vero quibusdam ipsam exercitationem, laudantium rerum fuga, eum inventore velit aut ullam consectetur similique ea quam, natus nisi! Adipisci at facilis tempore iure?
    </p>
  </section>
  <section class="regions center">
    <div class="regions__row-1">
      {% for region in regions %}
        {% if not forloop.last %}
        <div href class="regions__card">
          <a href="{{ region.get_absolute_url }}" class="regions__link-row-1">
            <img
            src="{% static "img/" %}{{ region.slug }}.jpg"
            alt="{{ region.name }}"
            class="regions__img">
          </a>
          <p class="regions__title-center title-strong">{{ region.name }}</p>
        </div>
        {% endif %}
      {% endfor %}
    </div>
    <div class="regions__row-2">
      <div class="regions__card">
        {% with regions|last as last_region %}
        <a href="{{ last_region.get_absolute_url }}" class="regions__link-row-2"
          ><img
          src="{% static "img/" %}{{ last_region.slug }}.jpg"
            alt="{{ last_region.name }}"
            class="regions__img-horiz"
        /></a>
        <p class="regions__title-left title-strong">{{ last_region.name }}</p>
        {% endwith %}
      </div>
    </div>
  </section>

  {% show_top_trails TRAILS_NUMBER_INDEX_PAGE %}

{% endblock content %}
