{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
  Когда сердце в горах
{% endblock title %}


{% block article_title %}
  <h1 class="top__title main-title">Когда сердце в&nbsp;горах</h1>
{% endblock article_title %}

{% block content %}
  <section class="intro">
    <p class="text article-text">
      Добро пожаловать, те, чьё сердце манят горные вершины!<br>
      Если вы&nbsp;любите прогулки по&nbsp;горам, но&nbsp;предпочитаете спать в&nbsp;уютной кровати, или всегда мечтали почувствовать себя горным туристом, но&nbsp;пока не&nbsp;готовы жить в&nbsp;палатке&nbsp;&mdash; этот сайт для вас! Здесь я&nbsp;собрала полезную информацию о&nbsp;хайкинге&nbsp;&mdash; однодневных походах в&nbsp;горы&nbsp;&mdash; в&nbsp;разных регионах Кавказа, которая поможет спланировать ваше следующее приключение.<br><br>

      В&nbsp;главах о&nbsp;регионах вы&nbsp;найдете материалы об&nbsp;особенностях и&nbsp;преимуществах каждого из&nbsp;них, сложности маршрутов, сезонности и&nbsp;транспортной доступности, узнаете, где комфортнее жить и&nbsp;питаться.<br><br>

      Подробные описания маршрутов с&nbsp;картами и&nbsp;фотографиями, дополненные оценками и&nbsp;отзывами других пользователей, помогут вам выбрать самые-самые из&nbsp;них, ведь часто в&nbsp;отпуске нам не&nbsp;хватает дней на&nbsp;то, чтобы увидеть всё, и&nbsp;приходится делать непростой выбор.<br><br>

      Скоро сайт будет дополнен полезными рекомендациями о&nbsp;том, как не&nbsp;заблудиться в&nbsp;горах, что надеть в&nbsp;поход и&nbsp;что взять собой, как оформить пропуска в&nbsp;пограничные зоны&nbsp;&mdash; заглядывайте почаще и&nbsp;не&nbsp;пропустите!<br><br>

      Желаю вам красивых прогулок в&nbsp;горах, ясной солнечной погоды и&nbsp;ярких воспоминаний!
    </p>
  </section>
  <section class="regions center">
    {% for region in regions %}
      <div href class="regions__card">
        <a href="{{ region.get_absolute_url }}" class="regions__link">
          <img
          src="{% static "img/" %}{{ region.slug }}.jpg"
          alt="{{ region.name }}"
          class="regions__img">
        </a>
        <p class="regions__title-center title-strong">{{ region.name }}</p>
      </div>
    {% endfor %}
  </section>
  {% show_top_trails TRAILS_NUMBER_INDEX_PAGE %}

{% endblock content %}
