{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
  {{ region.name }}
{% endblock title %}


{% block main_banner %}
  <img src="{{ region.main_image.url }}" alt="{{ region.name }}" class="top__banner">
{% endblock main_banner %}

{% block article_title %}
  <h1 class="top__title">{{ region.name }}</h1>
{% endblock article_title %}

{% block content %}
  <!-- Интро -->
  <section class="intro">
    <p class="intro__text center">
      {{ region.description_intro|safe }}
    </p>
  </section>

  {% with region.photos.all as images %}
  <section class="photo">
    <img src="{{ images.0.image.url }}" alt="{{ region.name }}" class="photo__img">
  </section>

  <!-- География -->
  <section class="reg-description">
    <h2 class="reg-description__title">Немного географии</h2>
    <p class="reg-description__text center">
      {{ region.description_geo|safe }}
    </p>
  </section>

  <section class="photo">
    <img src="{{ images.1.image.url }}" alt="{{ region.name }}" class="photo__img">
  </section>

  <!-- Когда ехать -->
  <section class="reg-description">
    <h2 class="reg-description__title">Когда ехать</h2>
    <p class="reg-description__text center">
      {{ region.description_seasons|safe }}
    </p>
  </section>

  <section class="photo">
    <img src="{{ images.2.image.url }}" alt="{{ region.name }}" class="photo__img">
  </section>

  <!-- Как добраться -->
  <section class="reg-description">
    <h2 class="reg-description__title">Как добраться</h2>
    <p class="reg-description__text center">
      {{ region.description_transport|safe }}
    </p>
  </section>

  <section class="photo">
    <img src="{{ images.3.image.url }}" alt="{{ region.name }}" class="photo__img">
  </section>

  <!-- Жилье и питание -->
  <section class="reg-description">
    <h2 class="reg-description__title">Где жить и питаться</h2>
    <p class="reg-description__text center">
      {{ region.description_accommodation|safe }}
    </p>
  </section>

  <section class="photo">
    <img src="{{ images.4.image.url }}" alt="{{ region.name }}" class="photo__img">
  </section>
  {% endwith %}

  <!-- Топ-3 трека -->
  {% with region as region %}
    {% show_top_trails TRAILS_NUMBER_REGION_PAGE region %}
  {% endwith %}

{% endblock content %}
