{% extends "base.html" %}
{% load custom_tags %}

{% block title %}
  {{ region.name }}
{% endblock title %}


{% block main_banner %}
<div class="main-banner-gradient">
  <img src="{{ region.main_image.url }}" alt="{{ region.name }}" class="main-banner">
  <img src="{{ region.mobile_image.url }}" alt="{{ region.name }}" class="main-banner-mobile">
</div>
{% endblock main_banner %}

{% block article_title %}
  <h1 class="top__title main-title">{{ region.name }}</h1>
{% endblock article_title %}

{% block content %}
  <section class="article center">
    <main class="reg-intro">
      <p class="text article-text">
        {{ region.description_intro|safe|linebreaksbr }}
      </p>
    </main>

    {% with region.photos.all as images %}
    <div class="center">
      <img src="{{ images.0.image.url }}" alt="{{ region.name }}" class="large_image">
    </div>

    <article class="reg-description">
      <h2 class="reg-description__title title">Немного географии</h2>
      <p class="text article-text">
        {{ region.description_geo|safe|linebreaksbr }}
      </p>
    </article>

    <div class="center">
      <img src="{{ images.1.image.url }}" alt="{{ region.name }}" class="large_image">
    </div>

    <article class="reg-description">
      <h2 class="reg-description__title title">Когда ехать</h2>
      <p class="text article-text">
        {{ region.description_seasons|safe|linebreaksbr }}
      </p>
    </article>

    <div class="center">
      <img src="{{ images.2.image.url }}" alt="{{ region.name }}" class="large_image">
    </div>

    <article class="reg-description">
      <h2 class="reg-description__title title">Как добраться</h2>
      <p class="text article-text">
        {{ region.description_transport|safe|linebreaksbr }}
      </p>
    </article>

    <div class="center">
      <img src="{{ images.3.image.url }}" alt="{{ region.name }}" class="large_image">
    </div>

    <article class="reg-description">
      <h2 class="reg-description__title title">Где жить и питаться</h2>
      <p class="text article-text">
        {{ region.description_accommodation|safe|linebreaksbr }}
      </p>
    </article>

    <div class="center">
      <img src="{{ images.4.image.url }}" alt="{{ region.name }}" class="large_image">
    </div>
    {% endwith %}
  </section>

  {% with region as region %}
    {% show_top_trails TRAILS_NUMBER_REGION_PAGE region %}
  {% endwith %}

{% endblock content %}
