{% extends "base.html" %}

{% block title %}Результаты поиска{% endblock title %}

{% block article_title %}
  <h1 class="top__title main-title">Результаты поиска</h1>
{% endblock article_title %}

{% block content %}
  <section class="search article center">
    {% if  query %}
    <h2 class="search__title title">
        Результаты&nbsp;поиска по&nbsp;запросу "{{ query }}"
    </h2>
      {% for trail in results %}
        <a href="{{ trail.get_absolute_url }}" class="search__result" target="_blank">
          <p class="search__result-title text-bold">
            {{ trail.name }}
          </p>
          <p class="search__result-text text">
            {{ trail.short_description|truncatewords_html:30 }}
          </p>
        </a>
      {% empty %}
        <p class="search__no-result text center-text">
          По&nbsp;вашему запросу ничего не&nbsp;найдено.
        </p>
      {% endfor %}
    {% else %}
      <p class="search__no-result text center-text">
        По&nbsp;вашему запросу ничего не&nbsp;найдено.
      </p>
    {% endif %}
  </section>
{% endblock %}