{% extends "base.html" %}
{% load static %}
{% load custom_tags %}

{% block title %}
  {{ trail.name }}: описание маршрута
{% endblock title %}

{% block main_banner %}
  <div class="main-banner-gradient">
    <img src="{{ trail.main_image.url }}" alt="{{ trail.name }}" class="main-banner">
    <img src="{{ trail.mobile_image.url }}" alt="{{ trail.name }}" class="main-banner-mobile">
  </div>
{% endblock main_banner %}

{% block article_title %}
  <h1 class="top__title main-title">{{ trail.name }}</h1>
{% endblock article_title %}

{% block content %}
<section class="trail-info center">
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/distance.jpg" %}" alt="Дистанция" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Общее расстояние</p>
    <p class="trail-info__value text">{{ trail.distance }} км</p>
  </div>
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/time.png" %}" alt="Время" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Общее время</p>
    <p class="trail-info__value text">{{ trail.time }}</p>
  </div>
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/altitude.jpg" %}" alt="Высота" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Набор высоты</p>
    <p class="trail-info__value text">{{ trail.elevation_gain }} м</p>
  </div>
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/type.png" %}" alt="Расстояние" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Тип маршрута</p>
    <p class="trail-info__value text">{{ trail.get_route_type_display }}</p>
  </div>
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/ranking.png" %}" alt="Рейтинг" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Рейтинг маршрута</p>
    {% if average_rating %}
      <p class="trail-info__value text">{{ average_rating|floatformat:1 }} из 5</p>
    {% else %}
      <p class="trail-info__value text">---</p>
    {% endif %}
  </div>
  <div class="trail-info__item">
    <img src="{% static "img/trail_logos/level.png" %}" alt="Сложность" class="trail-info__img">
    <p class="trail-info__name text-medi-bold">Уровень сложности</p>
    <p class="trail-info__value text">{{ trail.get_level_display }}</p>
  </div>
</section>

<article class="article center">
  <main class="trail-intro">
    <p class="text article-text">
      {{ trail.short_description|safe }}
    </p>
    {% if trail.previous_trail %}
    <p class="text article-text">
      Этот трек является продолжением маршрута
      <a href="{% url "trails:trail_detail" trail.previous_trail.slug %}" class="text-underlined">{{ trail.previous_trail.name }}</a>.
    </p>
    {% endif %}
    {% if favorite %}
    <a href="{% url "trails:remove_favorite" trail.slug %}" class="favorite-button favorite-active body-button body-button-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.582 19.485c-1.141 1.119-2.345 2.287-3.582 3.515-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 1.577-.649 3.168-1.742 4.828l-1.447-1.447c.75-1.211 1.189-2.341 1.189-3.381 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.168-2.121 1.414 1.414zm7.418-5.485h-8v2h8v-2z" fill="#FFF"/></svg>
      <p>Удалить из избранного</p>
    </a>
    {% else %}
    <a href="{% url "trails:add_favorite" trail.slug %}" class="favorite-button favorite-inactive body-button body-button-text">
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.653 19.415c-1.162 1.141-2.389 2.331-3.653 3.585-6.43-6.381-12-11.147-12-15.808 0-4.005 3.098-6.192 6.281-6.192 2.197 0 4.434 1.042 5.719 3.248 1.279-2.195 3.521-3.238 5.726-3.238 3.177 0 6.274 2.171 6.274 6.182 0 1.269-.424 2.546-1.154 3.861l-1.483-1.484c.403-.836.637-1.631.637-2.377 0-2.873-2.216-4.182-4.274-4.182-3.257 0-4.976 3.475-5.726 5.021-.747-1.54-2.484-5.03-5.72-5.031-2.315-.001-4.28 1.516-4.28 4.192 0 3.442 4.742 7.85 10 13l2.239-2.191 1.414 1.414zm7.347-5.415h-3v-3h-2v3h-3v2h3v3h2v-3h3v-2z" fill="#F16D7F"/></svg>
      <p>Добавить маршрут в избранное</p>
    </a>
    {% endif %}

    <p class="text article-text">
      <span class="text-bold">Начало маршрута: </span>{{ trail.start_point }}<br>
      {{ trail.start_point_description|safe }}
    </p>
    <p class="text article-text">
      <span class="text-bold">Вода на маршруте: </span>{{ trail.aqua|safe }}
    </p>
  </main>
  <div class="photo-gallery">
    {% with trail.photos.all as images %}
      <img src="{{ images.0.image.url }}" alt="{{ trail.name }}" class="large_image">
      <div class="photo-gallery__row">
        <img src="{{ images.1.image.url }}" alt="{{ trail.name }}" class="small_image">
        <img src="{{ images.2.image.url }}" alt="{{ trail.name }}" class="small_image">
      </div>
      <img src="{{ images.3.image.url }}" alt="{{ trail.name }}" class="large_image">
    {% endwith %}
  </div>
  <section class="trail-description">
    <h2 class="trail-description__title title">Описание маршрута</h2>
    <p class="text article-text">
      {{ trail.full_description|safe }}
    </p>
    {% if trail.next_trail %}
      <p class="text article-text">
        Если у&nbsp;вас остались силы, время и&nbsp;желание, то&nbsp;у&nbsp;этого маршрута есть продолжение&nbsp;&mdash; трек
        <a
          href="{% url "trails:trail_detail" trail.next_trail.slug %}"
          class="trail-description__text underlined">{{ trail.next_trail.name }}
      </a>.
      </p>
    {% endif %}
    <div class="trail-map">
      {% if trail.route_image %}
        <iframe
        src="{{ trail.route_image }}" title="Embeded MapMagic map with routes" frameBorder="0" allowFullScreen="">
        </iframe>
      {% endif %}
    </div>
  </section>
</article>

<section class="comments article center">
  <h2 class="comments__title title">Комментарии</h2>
  <p class="text article-text">
    Если вы&nbsp;уже проходили этот маршрут, поделитесь, насколько он&nbsp;вам понравился, поставив оценку. Уверена, что рейтинг маршрута поможет другим спланировать свой отпуск и&nbsp;выбрать самые красивые треки!<br><br>
    Ну&nbsp;и&nbsp;конечно, будем рады вашим рассказам о&nbsp;прогулках по&nbsp;этим маршрутам, оставленным в&nbsp;комментариях. Поделитесь свежими новостями о&nbsp;состоянии трека, актуальных переправах через реки и&nbsp;ручьи и&nbsp;другой полезной информацией&nbsp;&mdash; мир скажет вам спасибо :)
  </p>
  <div class="form-comments__form">
    {% include 'users/includes/errors_check.html' %}
    <form method="post" action="{% url 'trails:add_comment' trail.slug %}" class="form-comments__form-and-button">
      {% include 'trails/includes/comment_form.html' %}
      <input type="submit" value="Сохранить" class="body-button form-button form-button-text">
    </form>
  </div>
  <div class="comments__user-texts">
    {% include "trails/includes/comments.html" %}
    {% if count > COMMENTS_NUMBER_TRAIL_PAGE %}
    <a href="{% url "trails:comments_list" trail.slug %}" class="comments__button body-button body-button-text">
      Все комментарии
    </a>
    {% endif %}
  </div>
</section>

{% with trail.region as region %}
  {% show_top_trails TRAILS_NUMBER_TRAIL_PAGE region %}
{% endwith %}

{% endblock content %}