{% extends "base.html" %}
{% load static %}

{% block title %}
  Маршруты для хайкинга на Кавказе
{% endblock title %}

{% block main_banner %}
<div class="main-banner-gradient">
  <img src="{% static "img/all_trails.jpg" %}" alt="Горы" class="main-banner">
  <img src="{% static "img/all_trails_mobile.jpg" %}" alt="Горы" class="main-banner-mobile">
</div>
{% endblock main_banner %}

{% block article_title %}
  <h1 class="top__title main-title">Все маршруты</h1>
{% endblock article_title %}

{% block content %}
  <section class="filters center">
    <a
      href="{% url "trails:trails_list" %}"
      class="filter-button body-button-text {% if not region %}selected-filter{% endif %}">
      Все регионы
    </a>
    {% for reg in regions %}
      <a
        href="{% url "trails:region_trails_list" reg.slug %}"
        class="filter-button body-button-text {% if region and region == reg %}selected-filter{% endif %}">
        {{ reg.name }}
      </a>
    {% endfor %}
  </section>
  <section class="trails center">
    <div class="trails__cards">
      {% for trail in page_obj %}
        {% include "trails/includes/trail_card.html" %}
      {% empty %}
        <p class="text center-text">В&nbsp;этом регионе пока не&nbsp;описан ни&nbsp;один маршрут.<p>
      {% endfor %}
    </div>
    {% include "trails/includes/paginator.html" %}
  </section>
{% endblock content %}
