{% load static %}
<div class="top__buttons">
  <div class="top__buttons-left-group">
    {% if user.is_authenticated %}
      <a href="{% url "users:logout" %}" class="top__buttons-left-group__enter">Выйти</a>
      <a href="{% url "users:password_change" %}" class="top__buttons-left-group__registration">Сменить пароль</a>
    {% else %}
      <a href="{% url "users:login" %}?next={{request.path}}" class="top__buttons-left-group__enter">Войти</a>
      <a href="{% url "users:signup" %}" class="top__buttons-left-group__registration">Регистрация</a>
    {% endif %}
  </div>
  <div class="top__buttons-right-group">
    <div class="top__buttons-right-group__search-box">
      <input
        type="text"
        class="top__buttons-right-group__search-field"
        placeholder="Поиск по описаниям маршрутов"
      />
      <img
        src="{% static 'img/search-icon.jpg' %}"
        alt="Поиск"
        class="top__buttons-right-group__search-icon"
      />
    </div>
    <a href="#" class="top__buttons-right-group__search">Поиск</a>
  </div>
</div>
<nav class="top__navigation">
  <a href="{% url 'trails:index' %}" class="top__navigation__link">Главная</a>
  {% for reg in regions %}
    <a href="{{ reg.get_absolute_url }}" class="top__navigation__link">{{ reg.name }}</a>
  {% endfor %}
  <a href="{% url 'trails:trails_list' %}" class="top__navigation__link">Все маршруты</a>
</nav>
