.form-comments__form {
  width: 800px;
  margin: 40px auto;
}
.form-comments__form-and-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 36px;
}
.form-comments__form-group {
  display: flex;
  flex-direction: column;
  width: 800px;
  gap: 40px;
  margin-top: 10px;
}
.form-comments__input {
  font-family: "Montserrat", sans-serif;
  color: #3D3E48;
  font-size: 18px;
  font-weight: 400;
  font-style: normal;
  line-height: normal;
  border-radius: 15px;
  border: 0.5px solid #5b5b5b52;
  width: 800px;
  padding: 12px;
  margin-top: 6px;
}
.form-comments__input:focus {
  outline: none;
}

@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .form-comments__form {
    width: 700px;
  }
  .form-comments__form-group {
    width: 700px;
  }
  .form-comments__input {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .form-comments__form {
    width: 300px;
  }
  .form-comments__form-group {
    width: 300px;
  }
  .form-comments__input {
    width: 300px;
  }
  .form-comments__input {
    font-size: 14px;
    padding: 8px;
    margin-top: 6px;
  }
}