.footer {
  background: #3D3E48;
  height: 100px;
}
.footer__content {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__left {
  display: flex;
  gap: 36px;
}
.footer__link:hover {
  text-decoration: underline;
}


@media (max-width:779px) {
  /* Самый популярный планшет (768 х 1024), вертикаль */
  .footer {
    height: 75px;
  }
  .footer__left {
    display: flex;
    gap: 24px;
  }
}
@media (max-width:767px) {
}

@media (max-width:746px) {
  /* Большие мобильные (они в основном в интервале 410-415), вертикаль */
  .footer {
    height: 100px;
  }
  .footer__content {
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  .footer__left {
    gap: 18px;
  }
  .footer__link {
    text-align: center;
  }
}

@media (max-width:409px) {
  /* Самые популярные мобильные, вертикаль */
  .footer__left {
    gap: 16px;
  }
}

@media (max-width:359px) {
  /* Маленькие мобильные, вертикаль */

}
