.top {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.top__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 28px;
  margin-bottom: 28px;
}
.top__buttons-left, .top__buttons-right {
  display: flex;
  gap: 16px;
}
.top__buttons-left__signin {
  width: 150px;
  height: 42px;
  display: inline-flex;
  align-items: center;
}
.top__buttons-left__signin:hover {
  text-decoration: underline;
}
.top__buttons-right__search-box {
  width: 350px;
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 40px;
  border: none;
}
.top__buttons-right__search-icon {
  width: 16px;
  height: 16px;
  margin: 0px 10px;
  order: -1;
}
.top__buttons-right__search-field {
  width: 300px;
  border: none;
}
.top__buttons-right__search-field:focus {
  outline: none;
}
.top__buttons-right__search-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  border: transparent;
  cursor: pointer;
}

.top__nav {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 840px;
  display: flex;
  justify-content: space-between;
  border-top: rgba(255, 255, 255, 0.7) 1px solid;
}
.top__nav__link {
  padding-top: 24px;
}
.top__nav__link:hover {
  text-decoration: underline;
}

.top__title {
  width: 660px;
  position: absolute;
  top: 54%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}



@media (max-width:1365px) {
  /* Горизонтальные планшеты + Desktop с низким разрешением */
  .top {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    position: relative;
  }
  .top__title {
    width: 500px;
    top: calc(30px + 100vw * 9 / 16 / 2);
    transform: translateY(-50%);
  }
}

@media (max-width:1023px) {
  /* Горизонтальные мобильные (800-900) */
  .top__title {
    width: 550px;
    top: calc(15px + 100vw * 9 / 16 / 2);
  }
  .top__buttons {
    top: 23px;
    margin-bottom: 28px;
  }
  .nav-button {
    width: 100px;
    height: 35px;
  }
  .top__buttons-left__signin {
    width: 150px;
    height: 35px;
  }
  .top__buttons-right__search-box {
    width: 330px;
    height: 35px;
  }
  .top__buttons-right__search-field {
    width: 285px;
  }
  .top__nav {
    top: 76px;
    width: 740px;
  }
}

@media (max-width:779px) {
  /* Самый популярный планшет (768 х 1024), вертикаль */
  .top__nav {
    width: 720px;
  }
}

@media (max-width:767px) {
  /* Iphone 13 pro horizontal */

  .top__buttons-right__search-box {
    width: 250px;
  }
  .top__buttons-right__search-field {
    width: 210px;
  }
  .top__nav {
    top: 80px;
    width: 690px;
    gap: 18px;
    padding-top: 5px;
  }
}

@media (max-width:746px) {
  /* Большие мобильные (они в основном в интервале 410-415), вертикаль */
  .top {
    width: 100vw;
    height: calc(100vw * 19 / 9);
    max-width: 100%;
    position: relative;
  }
  .top__buttons {
    top: 36px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .top__buttons-left, .top__buttons-right {
    gap: 8px;
  }
  .nav-button {
    width: 60px;
    height: 32px;
  }
  .top__buttons-left__signin {
    width: 82px;
    height: 32px;
    text-align: center;
  }
  .top__buttons-right__search-box {
    width: 120px;
    height: 32px;
    justify-content: center;
  }
  .top__buttons-right__search-field {
    width: 110px;
  }
  .top__buttons-right__search-field::placeholder{
    color: transparent;
    font-size: 0px;
  }
  .top__buttons-right__search-icon {
    display: none;
  }
  .top__nav {
    top: 100px;
    width: 390px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 18px;
    padding-top: 30px;
  }
  .top__title {
    width: 300px;
    top: 55%;
    transform: translateY(-50%);
  }
  .top__nav__link {
    padding-top: 0px;
  }
}

@media (max-width:409px) {
  /* Самые популярные мобильные, вертикаль */
  .top__buttons-right__search-box {
    width: 100px;
    height: 32px;
    justify-content: center;
  }
  .top__buttons-right__search-field {
    width: 70px;
  }
  .top__nav {
    width: 340px;
  }
}

@media (max-width:359px) {
  /* Маленькие мобильные, вертикаль */
  .top__buttons-left, .top__buttons-right {
    gap: 2px;
  }
  .top__nav {
    width: 310px;
  }

}
