.top {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
}

.top__buttons {
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 28px;
  margin-bottom: 28px;
}
.top__buttons-left, .top__buttons-right {
  display: flex;
  gap: 16px;
}
.top__buttons-left__signin {
  width: 150px;
  height: 42px;
  display: inline-flex;
  align-items: center;
}
.top__buttons-left__signin:hover {
  text-decoration: underline;
}
.top__buttons-right__search-box {
  width: 350px;
  height: 42px;
  display: flex;
  align-items: center;
  background-color: #FFF;
  border-radius: 40px;
  border: none;
}
.top__buttons-right__search-icon {
  width: 16px;
  height: 16px;
  margin: 0px 10px;
  order: -1;
}
.top__buttons-right__search-field {
  width: 300px;
  border: none;
}
.top__buttons-right__search-field:focus {
  outline: none;
}
.top__buttons-right__search-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  border: transparent;
  cursor: pointer;
}

.top__nav {
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  width: 840px;
  display: flex;
  justify-content: space-between;
  border-top: rgba(255, 255, 255, 0.7) 1px solid;
}
.top__nav__link {
  padding-top: 24px;
}
.top__nav__link:hover {
  text-decoration: underline;
}

.top__title {
  width: 660px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .top {
    width: 100vw;
    height: calc(100vw * 9 / 16);
    max-width: 100%;
    position: relative;
  }
  .top__buttons-left__signin {
    width: 150px;
    height: 36px;
  }
  .top__buttons-right__search-box {
    width: 300px;
    height: 36px;
  }
  .top__buttons-right__search-field {
    width: 260px;
  }
  .top__buttons-left, .top__buttons-right {
    gap: 12px;
  }
  .top__buttons {
    top: 28px;
    margin-bottom: 28px;
  }
  .top__nav {
    top: 85px;
    width: 700px;
  }
  .top__nav__link {
    padding-top: 18px;
  }
  .top__title {
    width: 500px;
    top: calc(30px + 100vw * 9 / 16 / 2);
    transform: translateY(-50%);
  }
}

@media (max-width: 767px) {
  .top {
    width: 100vw;
    height: calc(100vw * 1280 / 720);
    max-width: 100%;
    position: relative;
  }
  .top__buttons-left__signin {
    width: 82px;
    height: 24px;
  }
  .top__buttons-right__search-box {
    width: 105px;
    height: 24px;
    justify-content: center;
  }
  .top__buttons-right__search-field {
    width: 92px;
  }
  .top__buttons-right__search-field::placeholder{
    color: transparent;
    font-size: 0px;
  }
  .top__buttons-right__search-icon {
    display: none;
  }
  .top__buttons-left, .top__buttons-right {
    gap: 6px;
  }
  .top__buttons {
    top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
  }
  .top__nav {
    top: 60px;
    width: 310px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;
    padding-top: 20px;
  }
  .top__nav__link {
    padding-top: 0px;
    font-size: 12px;
  }
  .top__title {
    width: 295px;
    top: 55%;
    transform: translateY(-50%);
  }

}