.intro {
  margin-top: 60px;
  margin-bottom: 60px;
}

.regions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}
.regions__card {
  position: relative;
}
.regions__img {
  border-radius: 15px;
  width: 368px;
  height: auto;
  transition: 0.5s;
}
.regions__img-horiz {
  width: 1184px;
  height: auto;
  border-radius: 15px;
  transition: 0.5s;
}
.regions__img:hover, .regions__img-horiz:hover {
  box-shadow: 1px 2px 12px 1px rgb(0, 0, 0);
}
.regions__row-1 {
  display: flex;
  gap: 40px;
}
.regions__title-center {
  position: absolute;
  top: 45px;
  left: 0;
  right: 0;
  margin: auto;
}
.regions__title-left {
  position: absolute;
  top: 45px;
  left: 48px;
}

@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .regions {
    gap: 10px;
  }
  .regions__row-1 {
    gap: 10px;
  }
  .regions__img {
    width: 240px;
  }
  .regions__img-horiz {
    width: 740px;
  }
  .regions__title-center {
    top: 30px;
  }
  .regions__title-left {
    top: 30px;
    left: 48px;
  }
}

@media (max-width: 767px) {

}