.intro {
  margin-top: 60px;
  margin-bottom: 60px;
}

.regions {
  display: flex;
  justify-content: space-between;
}
.regions__card {
  position: relative;
}
.regions__img {
  border-radius: 15px;
  width: 285px;
  height: auto;
  transition: 0.5s;
}
.regions__img:hover {
  box-shadow: 1px 2px 12px 1px rgb(0, 0, 0);
}
.regions__title-center {
  position: absolute;
  top: 32px;
  left: 0;
  right: 0;
  margin: auto;
}

@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .regions {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .regions__img {
    width: 370px;
  }
  .regions__title-center {
    top: 32px;
  }
}

@media (max-width: 767px) {
  .intro {
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .regions__row-1 {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .regions__img {
    width: 300px;
  }
  .regions__img-horiz {
    width: 300px;
  }
}