* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 16px;
  color: #3D3E48;
  background-color: #FFF;
}

.center {
  margin-left: auto;
  margin-right: auto;
  width: 1184px;
}

/* стили текстовых элементов */

.main-title {
  color: #FFF;
  font-size: 80px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.title-strong {
  color: #FFF;
  font-size: 24px;
  font-weight: 300;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}
.title {
  font-size: 34px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.text {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}
.text-medi-bold {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
}
.text-bold {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
}
.card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.card-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.footer-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.nav-link-text {
  color: #FFF;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.nav-button-text {
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 300;
  line-height: normal;
}
.body-button-text {
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.form-button-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: #5B5B5B;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}
.input-search-text {
  font-family: "Montserrat", sans-serif;
  color: #3D3E48;
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  line-height: normal;
}
.text-underlined {
  text-decoration: underline;
}

/* кнопки */

.body-button {
  padding: 20px 32px;
  border-radius: 40px;
  border: 1px solid #4169E1;
  background-color: #FFF;
  transition: 0.25s;
}
.form-button {
  cursor: pointer;
}
.filter-button {
  width: 180px;
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  border-radius: 40px;
  border: 1px solid #4169E1;
  background-color: #FFF;
  transition: 0.25s;
}
.body-button:hover, .form-button:hover, .filter-button:hover {
  background-color: #4169E1;
  color: #FFF;
}
.nav-button {
  width: 100px;
  height: 42px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 40px;
  background: #FFF;
  transition: 0.25s;
}
.nav-button:hover {
  font-weight: 500;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.5);
}

/* изображения */

.main-banner {
  display: block;
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  z-index: -1;
}
.main-banner-gradient {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: rgb(40,100,177);
  background: linear-gradient(180deg, rgba(40,100,177,0.8) 0%, rgba(40,100,177,0.25) 50%, rgba(40,100,177,0) 100%);
}
.main-banner-mobile {
  display: none;
}
.large_image {
    width: 100%;
    height: auto;
}
.small_image {
    width: 49.8%;
    height: auto;
}

.article {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.article-text {
    width: 800px;
}
.center-text {
    text-align: center;
  }

@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .center {
    width: 757px;
  }
  .main-banner {
    width: 100vw;
    height: auto;
    max-width: 100%;
    z-index: -1;
  }
  .main-banner-gradient {
    width: 100vw;
    height: auto;
    max-width: 100%;
  }
  .main-title {
    font-size: 42px;
  }
  .nav-link-text {
    font-size: 14px;
  }
  .nav-button-text {
    font-size: 14px;
  }
  .body-button-text {
    font-size: 16px;
  }
  .form-button-text {
    font-size: 16px;
  }
  .input-search-text {
    font-size: 14px;
  }
  .nav-button {
    width: 80px;
    height: 36px;
  }
  .article-text {
    width: 700px;
  }
  .title-strong {
    font-size: 28px;
    font-weight: 300;
  }
  .filter-button {
    font-size: 14px;
    width: 130px;
    padding: 15px 0px;
  }
  .footer-text {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .center {
    width: 320px;
  }
  .main-banner {
    display: none;
  }
  .main-banner-mobile {
    display: block;
    width: 100vw;
    height: auto;
    max-width: 100%;
    z-index: -1;
  }
  .main-title {
    font-size: 34px;
  }
  .title {
    font-size: 24px;
  }
  .text {
    font-size: 14px;
    line-height: 20px;
  }
  .text-medi-bold {
    font-size: 14px;
  }
  .text-bold {
    font-size: 14px;
    line-height: 20px;
  }
  .card-title {
    font-size: 16px;
  }
  .card-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
  }
  .nav-link-text {
    font-size: 12px;
  }
  .nav-button-text {
    font-size: 12px;
  }
  .body-button-text {
    font-size: 14px;
  }
  .form-button-text {
    font-size: 14px;
  }
  .input-search-text {
    font-size: 12px;
  }
  .article-text {
    width: 315px;
  }
  .title-strong {
    font-size: 26px;
    font-weight: 300;
  }
  .nav-button {
    width: 52px;
    height: 24px;
  }
  .body-button {
    padding: 12px 28px;
  }

  .filter-button {
    font-size: 14px;
    width: 130px;
    padding: 8px 0px;
  }
  .footer-text {
    font-size: 12px;
  }

}