.search {
    margin-top: 50px;
    margin-bottom: 60px;
    max-width: 800px;
}
.search__title {
  margin-bottom: 12px;
}
.search__result {
  border-bottom: #5b5b5b52 .25px solid;
  margin-top: 20px;
}
.search__result-title {
  display: inline-block;
  width: 800px;
  margin-bottom: 6px;
  text-decoration: underline;
}
.search__result-text {
  width: 800px;
  display: inline-block;
  margin-bottom: 20px;
}
.search__no-result {
  margin-top: 20px;
  margin-bottom: 20px;
}


@media (max-width:1365px) {
  /* Горизонтальные планшеты + Desktop с низким разрешением */


}

@media (max-width:1023px) {
  /* Горизонтальные мобильные (800-900) */
  .search__result {
    width: 700px;
  }
  .search__result-title {
    width: 700px;
  }
  .search__result-text {
    width: 700px;
  }

}

@media (max-width:779px) {
  /* Самый популярный планшет (768 х 1024), вертикаль */

}
@media (max-width:767px) {
  .search__result {
    width: 600px;
  }
  .search__result-title {
    width: 600px;
  }
  .search__result-text {
    width: 600px;
  }
}

@media (max-width:746px) {
  /* Большие мобильные (они в основном в интервале 410-415), вертикаль */
  .search {
    width: 320px;
    margin-top: 50px;
    margin-bottom: 60px;
  }
  .search__result {
    width: 315px;
  }
  .search__result-title {
    width: 315px;
  }
  .search__result-text {
    width: 315px;
  }

}

@media (max-width:409px) {
  /* Самые популярные мобильные, вертикаль */

}

@media (max-width:359px) {
  /* Маленькие мобильные, вертикаль */

}
