.trails {
  margin-top: 50px;
  margin-bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trails__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 40px;
}

.trail-card {
  width: 368px;
  height: 500px;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.25);
  padding: 10px;
  transition: 0.5s;
}
.trail-card:hover {
  box-shadow: 1px 2px 12px 1px rgba(0, 0, 0, 0.6);
}
.trail-card__img {
  width: 348px;
  height: auto;
  border-radius: 15px;
}
.trail-card__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trail-card__title {
  width: 300px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.trail-card__details {
  width: 230px;
  display: flex;
  justify-content: space-between;
}

.top-trails__title {
  margin-bottom: 40px;
}
.top-trails__button {
  margin-top: 60px;
}

.filters {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}
.selected-filter {
  background: #4169E1;
  color: #FFF;
}


@media (max-width: 1199px) {

}

@media (max-width: 1023px) {
  .trails__cards {
    gap: 12px;
  }
  .filters {
    width: 700px;
  }
}

@media (max-width: 767px) {
  .trails {
    margin-top: 40px;
    margin-bottom: 50px;
  }
  .trail-card {
    width: 315px;
    height: 435px;
    padding: 10px;

  }
  .trail-card__img {
    width: 295px;
    height: auto;
  }
  .top-trails__button {
    margin-top: 40px;
  }
  .filters {
    width: 270px;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 35px;
    margin-bottom: 35px;
  }
  .filter-button:first-child {
    width: 100%;
  }
  .top-trails__title {
    margin-bottom: 30px;
  }
}