.trail-info {
  margin-top: 80px;
  width: 1000px;
  display: flex;
  justify-content: space-between;
}
.trail-info__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trail-info__img {
  height: 60px;
  width: auto;
}
.trail-info__name {
  width: 110px;
  margin-top: 24px;
  margin-bottom: 18px;
  text-align: center;
}
.trail-info__value {
  width: 150px;
  text-align: center;
}

.trail-intro {
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.photo-gallery {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.photo-gallery__row {
  display: flex;
  justify-content: space-between;
}

.trail-description {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.trail-description__title {
  margin-bottom: 24px;
}
.trail-map iframe {
  width: 1200px;
  height: 700px;
  display: block;
  max-width: 100%;
  margin-top: 30px;
}


@media (max-width:1365px) {
  /* Горизонтальные планшеты + Desktop с низким разрешением */
  .trail-info {
    width: 900px;
  }
}

@media (max-width:1023px) {
  /* Горизонтальные мобильные (800-900) */

}

@media (max-width:779px) {
  /* Самый популярный планшет (768 х 1024), вертикаль */
  .trail-info {
    margin-top: 50px;
    width: 700px;
  }
  .trail-info__img {
    height: 35px;
  }
  .trail-info__name {
    width: 95px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .trail-info__value {
    width: 95px;
    font-size: 12px;
  }
}

@media (max-width:767px) {
  .trail-info {
    width: 600px;
  }
}

@media (max-width:746px) {
  /* Большие мобильные (они в основном в интервале 410-415), вертикаль */
  .trail-info {
    width: 300px;
    flex-wrap: wrap;
    justify-content: center;
    gap: 7px;
    margin-top: 80px;
  }
  .trail-info__img {
    height: 35px;
  }
  .trail-info__name {
    width: 95px;
    margin-top: 18px;
    margin-bottom: 12px;
  }
  .trail-info__value {
    width: 95px;
    font-size: 12px;
  }
  .trail-intro {
    margin-top: 40px;
    margin-bottom: 40px;
    gap: 20px;
  }
  .trail-description {
    margin-top: 30px;
  }
  .trail-map iframe {
    width: 300px;
  }

}

@media (max-width:409px) {
  /* Самые популярные мобильные, вертикаль */
  .trail-description {
    margin-bottom: 10px;
  }
}

@media (max-width:359px) {
  /* Маленькие мобильные, вертикаль */

}
