{% extends 'users/users_base.html' %}

{% block title %}Изменение пароля{% endblock %}


{% block users_page_title %}
    <h1 class="form-card__title">Изменить пароль</h1>
{% endblock users_page_title %}

{% block users_page_form %}
    <div class="form-card__form">
        {% include 'users/includes/errors_check.html' %}
        <form method="post" action="{% url 'users:password_change' %}" class="form-card__form-and-button">
            {% include 'users/includes/form_content.html' %}
            <input type="submit" value="Изменить пароль" class="form-card__button">
        </form>
    </div>
{% endblock users_page_form %}
