{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header class="top">
        {% block main_banner %}
          <img src="{% static "img/main.jpg" %}" alt="Горы" class="top__banner">
        {% endblock main_banner %}
        <div class="top__content center">
          {% include "includes/header.html" %}
          <h1 class="top__title">
            {% block article_title %}{% endblock article_title %}
          </h1>
          {% block users_page_content %}{% endblock users_page_content %}
        </div>
      </header>
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
  </body>
</html>
