{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    {% include "includes/yandex_metrika.html" %}
    {% include "includes/google_analitics.html" %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Хайкинг и треккинг в&nbsp;горах Кавказа (Архыз, Домбай, Безенги, Приэльбрусье). Подробные описания маршрутов с&nbsp;картами и&nbsp;фотографиями. Рейтинги и&nbsp;отзывы о&nbsp;треках, которые помогут спланировать активный отдых.">
    <meta name="keywords" content="Архыз, Домбай, Безенги, Приэльбрусье, хайкинг, треккинг">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'img/favicon/favicon.ico' %}" type="image">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
    <link rel="stylesheet" href="{% static "css/index.css" %}">
    <title>{% block title %}{% endblock title %}</title>
  </head>
  <body>
    <header class="top">
        {% block main_banner %}
          <img src="{% static "img/main.jpg" %}" alt="Горы" class="main-banner">
          <img src="{% static "img/main_mobile.jpg" %}" alt="Горы" class="main-banner-mobile">
        {% endblock main_banner %}
        <div class="top__content center">
          {% include "includes/header.html" %}
          {% block article_title %}{% endblock article_title %}
          {% block users_page_content %}{% endblock users_page_content %}
        </div>
      </header>
    {% block content %}{% endblock content %}
    {% include "includes/footer.html" %}
  </body>
</html>